<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Social Accounts</title>
</head>
<body>
	<h2>This is the accounts connect page</h2>
	<ul>
		<li class="nav-item active"><a class="nav-link" th:href="@{/connect/facebook}">Facebook</a></li>
		<li class="nav-item active"><a class="nav-link" th:href="@{/connect/twitter}">Twitter</a></li>
		<li class="nav-item active"><a class="nav-link" th:href="@{/profile}">Home</a></li>
	</ul>
</body>
</html>