<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>SocialHub Home</title>
	  <link rel="stylesheet" href="custom.css"></link>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
	</head>
	<body>
	<header>
		<h1>The Social Hub</h1>
		<div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">dehaze</i></a>
		</div>
	</header>
	<nav class="menu">
			<a class="item_menu" th:href="@{/home}">Home</a>
			<a class="item_menu" th:href="@{/accounts}">Accounts</a>
			<a class="item_menu" th:href="@{/profile}">Feeds</a>
			<a class="item_menu" th:href="@{/post}">New Post</a>
	</nav>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="script.js"></script>
		<h1>Welcome to the Social Hub!! You currently do not have any social accounts linked.</h1>
	<footer>
		The Social Hub
	</footer>
</body>
</html>