<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>SocialHub Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.css"></link>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
	<link rel="stylesheet" href="custom.css"></link>
</head>
<body>
	<div class="container">
		
			<th:block th:include="/_menu"></th:block>  
		
  					<div class="row">
  					
  					<div class="col-sm-12">
  						<h2 th:utext="${message}"></h2>
  					</div>
  						
  				</div>
		</div>
		<h1>Welcome to the Social Hub!! You currently do not have any social accounts linked.</h1>
</body>
</html>