<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1"/>
<title>Socail Feed</title>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>SocialHub Home</title>
	 <link rel="stylesheet" href="custom.css"></link>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></link>
	</head>
	<body>
	<header>
		<h1>The Social Hub</h1>
		<div class="top">
			<a href="#" class="menu_icon"><i class="material-icons">dehaze</i></a>
		</div>
	</header>
	<nav class="menu">
			<a class="item_menu" th:href="@{/home}">Home</a>
			<a class="item_menu" th:href="@{/accounts}">Accounts</a>
			<a class="item_menu" th:href="@{/profile}">Feeds</a>
	</nav>
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script type="text/javascript" src="script.js"></script>

	<div id="wrapper">
		<div id="twitter">
			<h1>Hello, <span th:text="${profileNameT}"></span>!</h1>
			<h4>Here is your Twitter feed:</h4>
		
			<div th:each="feed:${feed}">
				<p th:text="${feed.fromUser}">From</p>
				<p th:text="${feed.text}">message text</p>
				<img th:if="${feed.Entities}" th:src="${feed.Entities.Media}" />
				<hr />
			</div>
		</div>
	
		<div id="facebook">
			<h1>Hello, <span th:text="${profileNameF}"></span>!</h1>
			<h4>Here is your Facebook feed:</h4>
			<div th:each="post:${post}">
				<p th:text="${post.from.name}">From</p>
				<p th:text="${post.message}">message text</p>
				<img th:if="${post.picture}" th:src="${post.picture}" />
				<hr />
			</div>
		</div>
	</div>
	<footer>
		The Social Hub
	</footer>
	
</body>
</html>
